## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests

#import gmaps
import gmaps

# Import API key
from config import g_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_to_load = "/Users/benjaminshelburn/Desktop/Classwork/Week 6/Challenge 6/Weather_Database/WeatherPy_Database.csv"
weather_data_df = pd.read_csv(weather_data_to_load)

weather_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,mataura,NZ,-46.1927,168.8643,41.49,98,35,2.53,scattered clouds
1,1,new norfolk,AU,-42.7826,147.0587,58.50,63,52,3.00,moderate rain
2,2,butaritari,KI,3.0707,172.7902,82.76,68,60,13.15,broken clouds
3,3,saint-philippe,RE,-21.3585,55.7679,72.99,84,51,8.57,broken clouds
4,4,orzhytsya,UA,49.7918,32.7012,75.83,60,79,6.55,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_prompt_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_prompt_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df  = weather_data_df.loc[(weather_data_df["Max Temp"] >= min_prompt_temp) &
                                (weather_data_df["Max Temp"] <= max_prompt_temp)]
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,rikitea,PF,-23.1203,-134.9692,69.89,66,2,17.63,clear sky
13,13,luderitz,NaN,-26.6481,15.1594,65.37,47,4,5.37,clear sky
15,15,batagay-alyta,RU,67.8006,130.4114,60.55,37,92,1.16,overcast clouds
20,20,georgiyevka,KZ,43.0369,74.7114,66.24,63,0,6.71,clear sky
24,24,vaini,TO,-21.2000,-175.2000,68.16,77,75,16.11,broken clouds
...,...,...,...,...,...,...,...,...,...,...
645,645,krasnoyarka,RU,55.3333,73.1167,66.15,96,89,9.84,light rain
664,664,plouzane,FR,48.3833,-4.6167,66.52,63,0,6.91,clear sky
669,669,cherrapunji,IN,25.3000,91.7000,63.68,99,85,2.04,overcast clouds
680,680,tiznit,MA,29.5833,-9.5000,67.01,72,30,8.70,scattered clouds
684,684,alyth,GB,56.6221,-3.2301,65.41,92,82,3.00,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             125
City                   125
Country                124
Lat                    125
Lng                    125
Max Temp               125
Humidity               125
Cloudiness             125
Wind Speed             125
Current Description    125
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,rikitea,PF,-23.1203,-134.9692,69.89,66,2,17.63,clear sky
15,15,batagay-alyta,RU,67.8006,130.4114,60.55,37,92,1.16,overcast clouds
20,20,georgiyevka,KZ,43.0369,74.7114,66.24,63,0,6.71,clear sky
24,24,vaini,TO,-21.2000,-175.2000,68.16,77,75,16.11,broken clouds
41,41,areka,ET,7.0667,37.7000,60.98,92,75,6.58,moderate rain
...,...,...,...,...,...,...,...,...,...,...
645,645,krasnoyarka,RU,55.3333,73.1167,66.15,96,89,9.84,light rain
664,664,plouzane,FR,48.3833,-4.6167,66.52,63,0,6.91,clear sky
669,669,cherrapunji,IN,25.3000,91.7000,63.68,99,85,2.04,overcast clouds
680,680,tiznit,MA,29.5833,-9.5000,67.01,72,30,8.70,scattered clouds
684,684,alyth,GB,56.6221,-3.2301,65.41,92,82,3.00,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,rikitea,PF,69.89,clear sky,-23.1203,-134.9692,
15,batagay-alyta,RU,60.55,overcast clouds,67.8006,130.4114,
20,georgiyevka,KZ,66.24,clear sky,43.0369,74.7114,
24,vaini,TO,68.16,broken clouds,-21.2000,-175.2000,
41,areka,ET,60.98,moderate rain,7.0667,37.7000,
43,geilo,NO,64.56,broken clouds,60.5333,8.2076,
48,narsaq,GL,62.82,broken clouds,60.9167,-46.0500,
49,avarua,CK,69.85,few clouds,-21.2078,-159.7750,
51,kodiak,US,60.31,few clouds,57.7900,-152.4072,
54,marystown,CA,63.54,scattered clouds,47.1666,-55.1483,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
    # 6c. Get latitude and longitude from DataFrame

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # 6e. Make request and retrieve the JSON data from the search. 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params = {'key': g_key, 'type':'lodging', 'radius' : 5000}
    params['location'] = f"{lat},{lng}"
    
    try: 
        hotels = requests.get(base_url, params= params).json()

        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping') 
        
hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,rikitea,PF,69.89,clear sky,-23.1203,-134.9692,People ThankYou
15,batagay-alyta,RU,60.55,overcast clouds,67.8006,130.4114,
20,georgiyevka,KZ,66.24,clear sky,43.0369,74.7114,Gostinitsa Imperiya
24,vaini,TO,68.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
41,areka,ET,60.98,moderate rain,7.0667,37.7000,Selam Hotel ሰላም ሆቴል
43,geilo,NO,64.56,broken clouds,60.5333,8.2076,Havsdalsgrenda Geilo
48,narsaq,GL,62.82,broken clouds,60.9167,-46.0500,Narsaq Kayak Hostel
49,avarua,CK,69.85,few clouds,-21.2078,-159.7750,Paradise Inn
51,kodiak,US,60.31,few clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
54,marystown,CA,63.54,scattered clouds,47.1666,-55.1483,Marystown Hotel & Convention Centre

In [9]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   124
Country                124
Max Temp               124
Current Description    124
Lat                    124
Lng                    124
Hotel Name             124
dtype: int64

In [11]:
clean_hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [13]:
# 8a. Create the output File (CSV)
# 8b. Export the City_Data into a csv
# clean_hotel_df.to_csv("City_Data2.csv")
#clean_hotel_df.to_csv('Clean_Hotel.csv')
output_data_file = "WeatherPy_Vacation.csv"
clean_hotel_df.to_csv("WeatherPy_Vacation.csv", sep=',')

# clean_hotel_df.to_csv(output_data_file, index, ",")

# clean_hotel_df.to_csv("dframe2.csv", sep= ",")

#clean_hotel_df.to_csv("dframe.csv", sep=',')

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

NameError: name 'hotel_info' is not defined